<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/home' + budget?.id"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ budget?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="expenseForm" (ngSubmit)="onSubmitted()">
    <ion-list>
      <ion-item>
        <ion-label position="fixed">Name</ion-label>
        <ion-input formControlName="name" placeholder="Name of expense" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Amount</ion-label>
        <ion-input formControlName="amount" placeholder="Amount of expense" type="number" required></ion-input>
      </ion-item>
    </ion-list>
    <div class="w-full flex flex-row justify-center items-center mt-[20px]">
      <ion-button type="submit">Confirm</ion-button>
    </div>
  </form>

</ion-content>
