<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="currencyForm">
    <ion-list>
      <ion-list>
        <ion-item>
          <ion-label for="data" position="fixed">Currency</ion-label>
          <ion-input id="data" class="caret" formControlName="data" class="caret-[#3880ff]" placeholder="Ex. $ or £"></ion-input>
        </ion-item>
        <ion-item class="text-center" *ngIf="purchaseService.isPro === false" detail="false">
          <ion-label color="primary">Export CSV (PRO)</ion-label>
        </ion-item>
        <ion-item class="text-center" (click)="onExportPressed()" *ngIf="purchaseService.isPro === true" button detail="false">
          <ion-label color="primary">Export CSV</ion-label>
        </ion-item>
        <ion-item class="text-center" *ngIf="purchaseService.isPro === false" button detail="false" (click)="onUpgradePressed()">
          <ion-label color="danger">Upgrade to PRO</ion-label>
        </ion-item>
      </ion-list>
    </ion-list>
  </form>
  <div class="fixed bottom-0 w-full flex flex-row justify-center border-[#C6C6C6] bg-[#F7F7F7] h-[80px]"
      style="border-top-width: 0.46px;">
      <ion-button class="w-[98%]" (click)="onCurrencyFormSubmitted()" color="primary">Apply</ion-button>
  </div>
</ion-content>
